$white: #F9F3E4;
$pink: #F29DAB;
$rose: #DD899E;
$tan: #F2CDC1;
$taupe: #D0B2AF;

@import url('https://fonts.googleapis.com/css?family=Questrial');

$font: 'Questrial', sans-serif;

html {
  min-height: 100%;
}

/*body {
  background:
    linear-gradient(217deg, rgba($pink, .9), rgba($pink,0) 50%),
    linear-gradient(107deg, rgba($rose,.9), rgba($rose,0) 70%),
    linear-gradient(336deg, rgba($tan,.9), rgba($tan,0) 60%);
}*/

.box {
  width: 100%;  
  margin: 10% auto;
  position: relative;
}

#card-container {
  position: relative;
  margin: 30px;
  width: 400px;
  height: 300px;
  z-index: 1;
  float: left;
  perspective: 1000px;
}

.cardg {
  width: 400px;
  height: 300px;
}

#card, #card2, #card3 {
  width: 100%;
  height: 100%;
  margin: 10%;
  transform-style: preserve-3d;
  transition: all .6s linear;
  box-shadow: 5px 5px 15px rgba(0,0,0, .3);
}

#card:hover {
    transform: rotateY(180deg);
    box-shadow: -5px 5px 15px rgba(0,0,0, .3);
}

#card2:hover {
    transform: rotateY(-180deg);
    box-shadow: -5px 5px 15px rgba(0,0,0, .3);
  
}

#card3:hover {
  transform: rotateY(180deg);
    box-shadow: -5px 5px 15px rgba(0,0,0, .3);
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  opacity: .7;
  background: $pink;
  overflow: auto;
}

h1, p {
  font-family: $font;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h1 {
  font-size: 1.2em;
  padding-top: 15px;
  color: $rose;
}

p {
  font-size: .5em;
}

.date {
  color: $taupe;
}
/*Meet our counsellers*/
.card {
  width: 500px;
  height: 500px;
  display: inline-block;
  margin: 1rem;
  border-radius: 4px;
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background: #fff;
  position: relative;
  overflow: hidden;
}
.card:hover, .card.hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0 rgba(0, 0, 0, 0.25);
}
.card:hover .card-content, .card.hover .card-content {
  box-shadow: inset 0 3px 0 0 #ccb65e;
  border-color: #ccb65e;
}
.card:hover .card-img .overlay, .card.hover .card-img .overlay {
  background-color: rgba(25, 29, 38, 0.85);
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  opacity: 1;
}
.card-img {
  position: relative;
  height: 400px;
  width: 100%;
  background-color: #fff;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-img .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}
.card-img .overlay .overlay-content {
  line-height: 400px;
  width: 100%;
  text-align: center;
  color: #fff;
}
.card-img .overlay .overlay-content a {
  color: #fff;
  padding: 0 2rem;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.4);
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
}
.card-img .overlay .overlay-content a:hover, .card-img .overlay .overlay-content a.hover {
  background: #ccb65e;
  border-color: #ccb65e;
}
.card-content {
  width: 100%;
  min-height: 104px;
  background-color: #fff;
  border-top: 1px solid #E9E9EB;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 1rem 2rem;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.card-content a {
  text-decoration: none;
  color: #202927;
}
.card-content h2, .card-content a h2 {
  font-size: 3rem;
  font-weight: 500;
}
.card-content p, .card-content a p {
  font-size: .8rem;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(32, 41, 28, 0.8);
}

.b {
  color: black;
}

/*faq cards*/

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.card1 {
  width: 1000px;
  height: 300px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;

}

.card1 h1 {
  text-align: center;
}

.card1 .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#dE685E, #EE786E);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card1.green .additional {
  background: linear-gradient(#92bCa6, #A2CCB6);
}


.card1:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.card1 .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.card1 .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);*/
}

.card1 .additional .user-card .level,
.card1 .additional .user-card .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.card1 .additional .user-card .points {
  top: 85%;
}

.card1 .additional .user-card svg {
  top: 50%;
}

.card1 .additional .more-info {
  width: 800px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
  overflow: auto;
}

.card1 .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

.card1.green .additional .more-info h1 {
  color: #224C36;
}

.card1 .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 2rem;
}

.card1.green .additional .coords {
  color: #325C46;
}

.card1 .additional .coords span + span {
  float: right;
}

.card1 .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.card1.green .additional .stats {
  color: #325C46;
}

.card1 .additional .stats > div {
  flex: 1;
  text-align: center;
}

.card1 .additional .stats i {
  display: block;
}

.card1 .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card1 .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.card1 .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.card1 .general {
  width: 800px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
  overflow: auto;
}

.card1 .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}
